* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  z-index: 1;
  background-color: #eee;
}
nav img {
  height: 35px;
  margin: 10px 0;
}

nav ul {
  list-style: none;
}
nav li {
  font-size: 1.1rem;
}
nav a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 4px 0;
}

main {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #eee;
}

.form-section{
  margin: 25px 0;
}
.form-section #email {
  display: block;
  margin: 15px auto;
  padding: 5px;
  height: 2rem;
  width: 280px;
}
.form-section #submit {
  background-color: #f1c40f;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
}

.advantages-container div {
  margin: 60px 0;
}
.advantages-container i {
  width: 120px;
  display: inline-block;
  font-size: 3rem;
  color: darkorange;
  display: none;
}

iframe {
  width: 100%;
  max-width: 550px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.cards-container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.card {
  border: 1px solid black;
  width: 300px;
  margin: 5px auto;
  
}
.card h5 {
  background-color: #ddd;
  padding: 15px 0;
  font-size: 1rem;
}
.card strong {
  display: block;
  margin: 20px 0;
  font-size: 1.4rem;
}

.card p {
  margin: 10px 0;
}

.card button {
  margin: 20px 0;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #f1c40f;
  border: none;
  cursor: pointer;
}

.card button:hover,
.form-section button:hover {
  background-color: #dfb40b;
  transition: background-color 0.2s linear;
}

footer {
  text-align: right;
  background-color: #ddd;
  margin-top: 30px;
  padding: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 5px 0;
}
footer li {
  margin: 0 15px;
}
footer p {
  color: #444444;
}

@media only screen and (min-width: 550px) {
  .advantages-container div {
    display: flex;
    text-align: left;
    padding: 0 20px;
  }
  .advantages-container i {
    display: inline-block;
    margin: 0 30px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  nav {
    grid-template-columns: "1fr 1fr 1fr 1fr 1fr";
    grid-template-rows: "1fr 1fr 1fr";
    justify-content: space-between;
  }
  nav img {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  nav ul {
    grid-column: 3/5;
    grid-row: 1/4;
  }
}

@media only screen and (min-width: 650px) {
  main {
    margin-top: 80px;
  }

  nav ul {
    display: flex;
    align-items: center;
  }
  nav li {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 800px) {
  .cards-container {
    flex-direction: row;
  }

  .card {
    border: 1px solid black;
    width: 250px;
    margin: 5px auto;
  }

}